<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="container"><br>
        <h1 class="text-success text-center">Complete Form Validation In Javascript</h1>
        <div class="col-lg-8 m-auto d-block">

            <form action="#" onsubmit="return validation()" class="bg-light">

                <div class="form-group">
                    <label>Username: </label>
                    <input type="text" name="user" class="form-control" id="user" autocomplete="off">
                    <span id="username" class="text-danger font-weight-bold"> </span>
                </div>
                <div class="form-group">
                    <label>Password: </label>
                    <input type="text" name="pass" class="form-control" id="pass" autocomplete="off">
                    <span id="passwords" class="text-danger font-weight-bold"> </span>
                </div>
                <div class="form-group">
                    <label>Confirm Password: </label>
                    <input type="text" name="conpass" class="form-control" id="conpass" autocomplete="off">
                    <span id="confirmpass" class="text-danger font-weight-bold"> </span>
                </div>
                <div class="form-group">
                    <label>Mobile: </label>
                    <input type="text" name="mobile" class="form-control" id="mobileNumber" autocomplete="off">
                    <span id="mobileno" class="text-danger font-weight-bold"> </span>
                </div>
                <div class="form-group">
                    <label>Email: </label>
                    <input type="text" name="email" class="form-control" id="emails" autocomplete="off">
                    <span id="emailids" class="text-danger font-weight-bold"> </span>
                </div>

                <input type="submit" name="submit" value="submit" class="btn-success"  autocomplete="off">

            </form>

        </div>

    </div>

    <script type="text/JavaScript">

            function validation(){

                var user = document.getElementById('user').value;
                var pass = document.getElementById('pass').value;
                var confirmpass = document.getElementById('conpass').value;
                var mobileNumber = document.getElementById('mobileNumber').value;
                var emails = document.getElementById('emails').value;



                if (user == "") {
                    document.getElementById('username').innerHTML =" ** Plese fill the username field";
                    return false;
                }
                if ((user.length <= 2) || (user.length > 20)){
                    document.getElementById('username').innerHTML ="  ** user length must be between 2 and 20";
                    return false;
                }
                if (isNaN(User)){
                    document.getElementById('username').innerHTML ="  ** only characters are allowed";
                    return false;
                }
                if (pass == "") {
                    document.getElementById('password').innerHTML =" ** Plese fill the password field";
                    return false;
                }
                if((pass.length <= 5) || (pass.length > 20)){
                    document.getElementById('password').innerHTML ="  ** password length must be between 5 and 20";
                    return false;
                }

                if(pass!=confirmpass){
                    document.getElementById('password').innerHTML ="  ** password are not matching";
                    return false;
                }
                
                if(confirmpass == "") {
                   document.getElementById('confirmpass').innerHTML =" ** Plese fill the confirmpassword field";
                    return false;
                }

                if (mobileNumber == "") {
                    document.getElementById('mobileno').innerHTML =" ** Plese fill the mobile Number field";
                    return false;
                }
                if(isNaN(mobileNumber)){
                    document.getElementById('mobileno').innerHTML =" ** user must write digits only not character ";
                    return false;
                }
                if(mobileNumber.length!=10){
                    document.getElementById('mobileno').innerHTML =" ** mobile Number must be 10 digits only ";
                    return false;
                }

                if (emails == "") {
                    document.getElementById('emailids').innerHTML =" ** Plese fill the email ids field";
                    return false;
                }
                if(emails.indexOf('@') <= 0 ){
                    document.getElementById('emailids').innerHTML =" ** @ Invalid Postion";
                    return false;
                }

                if((emails.charAt(emails.length-4)!='.')  && (emails.charAt(emails.length-3)!='.')){
                    document.getElementById('emailids').innerHTML =" ** . Invalid Postion";
                    return false;
                }
                
            }

    </script>
    
</body>
</html>